<div class="d-flex align-items-center justify-content-between py-3 border-bottom">
  <h1 id="pageTitle" class="fw-bold fs-4 text-dark ms-3">Home</h1>
  <nav class="d-flex">
    <div class="mx-2">
      <a class="text-decoration-none" href="/tweets/foryou" style="color: #000080;"
        onclick="changePageTitle('Recommend')">For You</a>
    </div>
    <div class="mx-2">
      <a class="text-decoration-none" href="/home" style="color: #000080;"
        onclick="changePageTitle('Latest')">Following</a>
    </div>
  </nav>
</div>


<div class="index-tweets d-flex justify-content-center">
  {{#each tweets}}
  {{!-- 這是modal-reply --}}
  {{#if this.id }}
  {{>reply-modal user=../user tweet=this}}
  <div class="d-flex each-tweet" style="padding: 16px 0;width: 639px;">
    <div id="tweet-icon">
      <a href="/users/{{this.user_id}}/tweets">
        <img src="{{this.avatar}}" alt="" width="50" height="50" class="rounded-circle" />
      </a>
    </div>
    <div id="tweet-right" style="width: 528px;">
      <div class="header" onclick="window.open('/tweets/{{this.id}}/replies','_self');" style="cursor: pointer;">
        <a href="/users/{{this.user_id}}/tweets">
          <span style="font-size: 16px; line-height: 26px; font-weight: 700;color: #171725;">{{this.name}}</span>
        </a>
        <span style="font-size: 14px; line-height: 22px; font-weight: 400;color: #6C757D;"
          class="text-muted">．{{relativeTimeFromNow this.updated_at}}
        </span>
      </div>
      <div class="content-word" onclick="window.open('/tweets/{{this.id}}/replies','_self');" style="cursor: pointer;">
        {{this.content}}
        <div class="image-container">
          {{#each this.images}}
          <img src="{{this}}" alt="Image" class="image-item">
          {{/each}}
        </div>
      </div>
      <div class="actions d-flex justify-content-between">
        <div class="d-flex reply">
          <button data-bs-toggle="modal" data-bs-target="#reply-modal-{{this.id}}">
            <img src="/images/icons/outlined-reply.png" alt="replies" style="width:16px; height: 16px">
          </button>
          <span style="line-height: 14px; font-size:14px; font-weight:600; color: #6C757D;">{{this.reply_count}}</span>
        </div>
        <div class="d-flex like">
          {{#if this.is_liked}}
          <button onclick="unlikeTweet(event,'{{this.id}}')">
            <img src=" /images/icons/filled-like.png" alt="like" style="width:16px; height: 16px">
          </button>
          {{else}}
          <button onclick="likeTweet(event,'{{this.id}}')">
            <img src=" /images/icons/outlined-like.png" alt="like" style="width:16px; height: 16px">
          </button>
          {{/if}}
          <span style="line-height: 14px; font-size:14px; font-weight:600; color: #6C757D;">{{this.like_count}}</span>
        </div>
        <div class="d-flex hidden">
          <form action="/tweets/{{this.id}}/hidden" method="post" style="align-items: center; display: flex;">
            <button type="submit" style="padding: 0; border: 0; background-color: #fff;">
              <img src="/images/icons/hide.png" style="width:16px; height: 16px" />
            </button>
          </form>
        </div>
        <div class="d-flex rating" id="rating-{{this.id}}">
          <span class="star" data-rating="1">&#9734;</span>
          <span class="star" data-rating="2">&#9734;</span>
          <span class="star" data-rating="3">&#9734;</span>
          <span class="star" data-rating="4">&#9734;</span>
          <span class="star" data-rating="5">&#9734;</span>
        </div>
      </div>
    </div>
  </div>
  {{else}}
  <div class="d-flex each-tweet">
    <div id="tweet-icon">
      <a href="/users/{{this.reply_user_id}}/profile">
        <img src="{{this.reply_user_avatar}}" width="50" height="50" class="rounded-circle" />
      </a>
    </div>
    <div id="tweet-right" style="width: 528px">
      <div class="header">
        <a href="/users/{{this.reply_user_id}}/profile">
          <span style="font-size: 16px; line-height: 26px; font-weight: 700;color: #171725;">{{reply_user_name}}</span>
        </a>
        <span style="font-size: 14px; line-height: 22px; font-weight: 400;color: #6C757D;"
          class="text-muted">．{{relativeTimeFromNow this.reply_created_at}}</span>
      </div>
      <a href="/tweets/{{this.tweet_id}}/replies" style="text-decoration: none;color: #6c757d;">
        <p class="reply-whom">
          回覆 <span>@{{this.tweet_user_name}}</span>
        </p>
        <div class="content-word">
          <p style="margin-bottom: 8px; color: #171725;">
            {{this.reply_content}}
          </p>
        </div>
      </a>
    </div>
  </div>
  {{/if}}
  {{/each}}
</div>


<script>
  function changePageTitle(title) {
      document.getElementById('pageTitle').textContent = title;
    }
  function likeTweet(event, tweetId) {
    event.preventDefault()
    fetch(`/tweets/${tweetId}/like`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ tweetId: tweetId }),
    })
      .then(response => {
        if (response.ok) {
          const likeButton = document.querySelector(`button[data-tweet-id="${tweetId}"]`);
          likeButton.innerHTML = `
          <img src="/images/icons/filled-like.png" alt="like" style="width:16px; height: 16px">
        `;
          likeButton.onclick = event => unlikeTweet(event, tweetId)
          const countElement = document.querySelector(`span[data-tweet-id="${tweetId}"]`)
          const count = parseInt(countElement.textContent)
          countElement.textContent = count + 1
          console.log('Tweet liked successfully')
        } else {
          throw new Error('Failed to like tweet')
        }
      })
      .catch(error => {
        console.error('Error liking tweet:', error.message)
      })
  }

  function unlikeTweet(event, tweetId) {
    event.preventDefault()
    fetch(`/tweets/${tweetId}/unlike`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ tweetId: tweetId }),
    })
      .then(response => {
        if (response.ok) {
          const unlikeButton = document.querySelector(`button[data-tweet-id="${tweetId}"]`);
          unlikeButton.innerHTML = `
          <img src="/images/icons/outlined-like.png" alt="like" style="width:16px; height: 16px">
        `;
          unlikeButton.onclick = event => likeTweet(event, tweetId)
          const countElement = document.querySelector(`span[data-tweet-id="${tweetId}"]`)
          const count = parseInt(countElement.textContent)
          countElement.textContent = count - 1
          console.log('Tweet unliked successfully')
        } else {
          throw new Error('Failed to unlike tweet')
        }
      })
      .catch(error => {
        console.error('Error unliking tweet:', error.message)
      })
  }
</script>